<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="css/material_font.css">
  <link rel="stylesheet" href="css/material_icon.css">
  <link rel="stylesheet" href="css/ownstyles.css">
</head>

<body>
  <div id="{{name}}"></div>
  <script src="js/ui.js"></script>
</body>

</html>
