<!DOCTYPE html>
<html>

<head>
  <style type='text/css'>
    html {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
    }

    .loading-container {
      width: 270px;
      height: 270px;
      border-radius: 5px;
      border: 1px solid gray;
      overflow: none;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
      background: url('img/splashscreen_loading.gif') center center no-repeat;
      align-items: center;


    }

    .title {
      background-color: rgb(1, 113, 113);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
      width: 100%;
      padding-top: 5px;
      height: 30px;
      border-radius: 1px;
      font-size: 1.15rem;
      font-weight: 400;
      line-height: 1.33;
      letter-spacing: 0em;
      color: white;
      font-family: sans-serif;

    }
  </style>
</head>

<body>
  <div class="loading-container">
    <div class="title">
      <center> {{name}}</center>
    </div>
  </div>
</body>

</html>